/* Title Bar Styling */
.title-bar-left {
    color: white;
    font-size:x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .title-bar {
      background-color: black;
  }

/* Input Form Styling "Search for Breweries */
.translucent-form-overlay {
    max-width: 500px;
    width: 100%;
    background-color: black; 
    padding: 20px;
    color: #fefefe;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .translucent-form-overlay .row.columns {
    display: block;
  }
  
  /* IP Address/Location Placeholder Styling */
  .translucent-form-overlay input::placeholder {
    color: black;
  }
  
  /* Title and Input Labels Styling */ 
  .translucent-form-overlay h3, .translucent-form-overlay label {
    color: #fefefe;
  }
  /* Distance Selector Input Styling */
  .translucent-form-overlay input, .translucent-form-overlay select {
    color: black;
  } 
  /* Search Button Styling */
  #btnSubmit {
      background-color:teal;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: white;
      padding: 15px;
      font-size: larger;
  }

  /* Location Button Styling */
  #btnLocation {
    background-color:teal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
  }

  .breweryButton {
    background-color:teal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 10px;
    margin-left: 10px;
    font-size: smaller;
  }

/* Map Container Styling */


/* Map Title bar Styling */

/* Footer Styling */


